/*
 *
 * form
 *
 */

form
  h2
    font-size: 36px
    display: inline-block
    margin-bottom: 24px
  input
    margin-bottom: 0px

/*
 *
 * mailchimp form
 *
 */

form
  .mc-field-group,
  #mce-responses > .response
    margin-bottom: 12px

/*
 *
 * float label
 *
 */

.js-float-label-wrapper
  label
    color: black

  &.focused,
  &.populated 
    label
      font-size: initial
      margin-bottom: 0px
    input
      height: initial
      min-height: 60px
    input, 
    textarea
      padding-top: 2.5em
      padding-bottom: 1em