<h1>
  General Inquiries 
</h1>
<h4>
  13° 44'49.1"N 100°33'24.4"E
</h4>
<div class='contact__mail'>
  <p>
    Thank you for showing interest in our product. We will get back to you shortly.
  </p>
  <%= link_to "ask@uteeni.com", "mailto:ask@uteeni.com" %>
</div>

<div class="contact__container cf">
  <form action="#" id="contact-form">
    <div class="col-50">
      <fieldset>
        <input type="email" id="email" name="email" placeholder="e.g. john-doe@example.com" required />
        <input type="text" id="subject" name="subject" placeholder="e.g. subject" required />
      </fieldset>
    </div>
    <div class="col-50">
      <fieldset>
        <textarea id="address" name="address" rows=4 placeholder="e.g Message goes here..." required></textarea>
      </fieldset>
    </div>
    <input type="submit" value="Sign up" class="submit-btn" />
    <p class="contact__message">
      Thank you for showing interest in our product. We will get back to you shortly.
    </p>
  </form>
</div>