<center>
  <div id="heading-container" style="display: none">
    <img src="images/logo.png" alt="">
    <h1>
      Get connected
    </h1>
    <h2>
      A simpler way to increase your business
    </h2>
    <a href="#" class="sign-up-btn">
      Sign up
    </a>
  </div>
</center>