<div class="pin-container">
  <center>
    <h2>
      What are you doing <br>
      to market your business?
    </h2>
  </center>
  <figure class="pin pin-1">
    <div class="pin-icon">
      <span class="count">
        <span class="percentage-count">51</span>
      </span>
    </div>
    <figcaption>
      Look for information on local <br>
      businesses and services on their <br>
      smartphone everyday.
    </figcaption>
  </figure>

  <figure class="pin pin-2">
    <div class="pin-icon">
      <span class="count">
        <span class="percentage-count">40</span>
      </span>
    </div>
    <figcaption>
      Look for information on local <br>
      businesses and services on their <br>
      smartphone everyday.
    </figcaption>
  </figure>
  <figure class="pin pin-3">
    <div class="pin-icon">
      <span class="count">
        <span class="percentage-count">27</span>
      </span>
    </div>
    <figcaption>
      Look for information on local <br>
      businesses and services on their <br>
      smartphone everyday.
    </figcaption>
  </figure>
</div><!-- pin-container -->