<div class="features__container">
  <center>
    <h2>
      What are you doing <br>
      to market your business?
    </h2>
  </center>

  <figure class="pin pin--1">
    <div class="pin__icon">
      <span class="pin__count">
        <span class="pin__percentage">51</span>
      </span>
    </div>
    <figcaption>
      of people in Thailand look for <br>
      information on local businesses <br>
      and services on their smart phones everyday.
    </figcaption>
  </figure>

  <figure class="pin pin--2">
    <div class="pin__icon">
      <span class="pin__count">
        <span class="pin__percentage">40</span>
      </span>
    </div>
    <figcaption>
      Look for information on local <br>
      businesses and services on their <br>
      smartphone everyday.
    </figcaption>
  </figure>
  <figure class="pin pin--3">
    <div class="pin__icon">
      <span class="pin__count">
        <span class="pin__percentage">27</span>
      </span>
    </div>
    <figcaption>
      of people in Thailand looking for <br>
      information on local businesses <br>
      and services on their smartphones <br>
      will then visit the business and make a purchase
    </figcaption>
  </figure>
</div><!-- pin-container -->