<div class="showcase__gradient">
  <h1>
    We direct customers searching
  </h1>
  <h2>
    for products and services with your business
  </h2>
</div>

<div class="showcase__iphone">
  <img src="images/iphone-thumb.png">
</div>