<h1>
  Sign up
</h1>
<h4>
  for the Beta Release of Thailand's Premier Directory
</h4>
<ul id="login-grid" class="login-grid clearfix">
  <li>
    <span class="rb-temp"><img src="images/login-icon-customer.png" alt="user sign up"></span>
    <span class="rb-temp">User</span>
    <div class="rb-overlay">
      <span class="rb-close">&times;</span>
      <div class="rb-week">
        <div>
          <div class="form-container">
            <iframe src="user_form" frameborder="0" width="100%" height="800" scrolling="no" seamless="seamless">
              <a href="http://eepurl.com/bi-oe5" target="_blank">click here to sign up</a>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <span class="rb-temp"><img src="images/login-icon-business.png" alt="business sign up"></span>
    <span class="rb-temp">Business</span>
    <div class="rb-overlay">
      <span class="rb-close">&times;</span>
      <div class="rb-week">
        <div>
          <div class="form-container">
            <iframe src="business_form" frameborder="0" width="100%" height="800" scrolling="no" seamless="seamless">
              <a href="http://eepurl.com/biSW-P" target="_blank">click here to sign up</a>
            </iframe>
          </div>
        </div>
      </div><!-- rb-week -->
    </div>
  </li>
</ul> 