<h1>
  Sign up
</h1>
<h4>
  for the Beta Release of Thailand's Premier Directory
</h4>
<ul class="signup__grid rb-grid clearfix">
  <li>
    <span class="signup__heading rb-temp">
      <img src="images/login-icon-customer.png" alt="user sign up">
      <p>User</p>
    </span>
    <div class="signup__overlay rb-overlay">
      <span class="signup__close rb-close">&times;</span>
      <div class="signup__fullscreen rb-week">
        <div>
          <div class="form-container">
            <iframe src="user_form" frameborder="0" width="100%" height="800" scrolling="no" seamless="seamless">
              <a href="http://eepurl.com/bi-oe5" target="_blank">click here to sign up</a>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <span class="signup__heading rb-temp">
      <img src="images/login-icon-business.png" alt="business sign up">
      <p>Business</p>
    </span>
    <div class="signup__overlay rb-overlay">
      <span class="signup__close rb-close">&times;</span>
      <div class="signup__fullscreen rb-week">
        <div>
          <div class="form-container">
            <iframe src="business_form" frameborder="0" width="100%" height="800" scrolling="no" seamless="seamless">
              <a href="http://eepurl.com/biSW-P" target="_blank">click here to sign up</a>
            </iframe>
          </div>
        </div>
      </div><!-- signup__fullscreen -->
    </div>
  </li>
</ul> 