<h1>
  Our staff
</h1>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<br>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>
<span class="team__avatar"></span>